body {
    font-family: "Winky Sans", sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #5D5C61;
    color: white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.hero {
    text-align: center;
    padding: 5vw;
    background-color: #938e94;
    border: 3px solid #5D5C61;
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: #dbdbdb;
    font-size: calc(20px + 2vw);
}

.hero img {
    width: 100%;
    height: auto;
    background-color: #938e94;
    border-radius: 15px;
}

.feature p {
    font-family: "Playfair", serif;
}

.features {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: #56534c;
    overflow-x: auto; /* Прокрутка по горизонтали */
    white-space: nowrap; /* Элементы не переносятся */
}

.feature {
    text-align: center;
    border: 2px solid #5D5C61;
    border-radius: 15px;
    padding: 20px;
    min-width: 250px; /* Минимальная ширина колонки */
    background-color: #B1A296;
    margin: 10px;
    flex-shrink: 0; /* Колонки не сжимаются */
}

.feature img {
    width: 100%;
    height: auto;
    background-color: #938e94;
    border-radius: 15px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #5D5C61;
    color: white;
    font-family: "Dancing Script", cursive;
}
