body {
    font-family: "Winky Sans", sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color:  #5D5C61;
    color: white;
}


.hero {
    text-align: center;
    padding: 50px;
    background-color: #938e94;
    border: 3px solid  #5D5C61;
    position: relative; /* Позволяет элементам внутри позиционироваться относительно родителя */
}

.hero h1{
    position: absolute; /* Текст будет располагаться поверх картинки */
    top: 50%; /* Центрируем по вертикали */
    left: 50%; /* Центрируем по горизонтали */
    transform: translate(-50%, -50%); /* Дополнительно сдвигаем на 50% от ширины и высоты */
    margin: 0; /* Убираем отступы по умолчанию */
    color: #dbdbdb; /* Можно изменить цвет текста */
}

.hero img {
    width: 100%;
    height: 200px;
    background-color: #938e94;
    border-radius: 15px;
}


.feature p{
    font-family: "Playfair", serif;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #56534c;
}

.feature {
    text-align: center;
    border: 2px solid #5D5C61;
    border-radius: 15px;
    padding: 10px;
    width: 22%;
    background-color: #B1A296;
    margin: 3px;
}

.feature img {
    width: 100%;
    height: 100px;
    background-color: #938e94;
    border-radius: 15px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #5D5C61;
    color: white;
    font-family: "Dancing Script", cursive;
}
